{% extends 'base.html' %}
{% load static %}
{% block navbar %}{% endblock %}

{% block contenido %}
    <div class="container pt-5">
        <form method="post" novalidate>
            {% csrf_token %}
         <div class="row">
            <div class="col-md-12">

                <div class="card mb-4">
                    <h5 class="card-header pt-6 background:color-black " >Publicar Post</h5>
                    <div class="card-body">
                        <div>
                            {% for field in form.visible_fields %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                    {{ field }}
                                    {% for error in field.errors %}
                                        <span class="help-block" style="color:#ff0000">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>

                    <button type="submit" class="btn btn-primary mt-lg-2 align-content-end">Publicar</button>
                        <a href="{% url 'listar' %}" class="btn btn-danger mt-lg-2">Cancel</a>
                    </div>
                </div>
            </div>
            </div>
        </form>
    </div>
{% endblock %}