<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mr.Service</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/slit-slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>

</head>

<body id="body">
<!-- preloader -->
<div id="preloader">
    <div class="loder-box">
        <div class="battery"></div>
    </div>
</div>
<!-- end preloader -->

{% block header %}
    <header id="navigation" class="navbar-inverse animated-header">
        <div class="container">
            <div class="navbar-header">
                <!-- responsive nav button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- /responsive nav button -->

                <!-- logo -->
                <h1 class="navbar-brand">
                    <a href="/">MR.SERVICE</a>
                </h1>
                <!-- /logo -->
            </div>

            <!-- main nav -->

            <nav class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="/#body">Home</a></li>
                    <li><a href="/#service">Categorias</a></li>
                    <li><a href="/#testimonials">Nuestro Equipo</a></li>
                </ul>
                {% if user.is_authenticated %}
                    <a href='{% url 'logout' %}' class="btn btn-blue btn-effect">Logout</a>
                {% endif %}
            </nav>
            <!-- /main nav -->
        </div>
    </header>
{% endblock %}
{% block contenido %}

{% endblock %}

<footer id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="footer-content">
                <div class="wow animated fadeInDown">

                    <div class="footer-social">
                        <ul>
                            <li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-3x"></i></a></li>
                            <li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i
                                    class="fa fa-twitter fa-3x"></i></a></li>
                            <li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i
                                    class="fa fa-skype fa-3x"></i></a></li>
                            <li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="#"><i
                                    class="fa fa-dribbble fa-3x"></i></a></li>
                            <li class="wow animated zoomIn" data-wow-delay="1.2s"><a href="#"><i
                                    class="fa fa-youtube fa-3x"></i></a></li>
                        </ul>
                    </div>

                    <p>Diseñado por el Team Mr.Service -- Proyecto Final Django Básico<a
                            href="http://www.themefisher.com"></a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/jquery.slitslider.js' %}"></script>
<script src="{% static 'js/jquery.ba-cond.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>