{% extends 'base.html' %}

{% block Title %} Detail View {% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row justify-content-md-center pt-5">
            <div class="col-md-8">
                <div class="col-12"><h1>{{ post.servicio }}</h1></div>
                <div class="col-12"><h1>{{ post.descripcion }}</h1></div>
                <h3 class="card-text"> Whatsapp: {{ post.num_telefono }}</h3>
                <div class="col-12"><h4><b>{{ post.descripcion }} Por:  {{ post.id_usuario }}</b></h4></div>

                <br/>
                <br/>
                <img class="card-img-top"
                     src="https://api.lorem.space/image/house?w=150&h=150"
                     alt="Generic placeholder image" width="140" height="340" alt="Card image>
                                        cap"/>

                <br/>
                <a href="{% url 'home' %}" class="btn btn-primary mt-lg-2"style="margin-top: 10px">Volver</a>
            </div>
        </div>
    </div>
{% endblock %}