{% extends "base.html"%}
{% block Title %}Delete Post {% endblock %}

{% block contenido %}

<div class="container" style="margin-top:200px">
 <form method="post" novalidate class="pt-5">
     {% csrf_token %}
  <p> desea borrar la publicacion? {{ id }}</p>
    <a href="{%  url 'deleteElectric' id %}" class="btn btn-default">Eliminar </a>
     <a href="{%  url 'electricidad' %}" class="btn btn-default">cancelar </a>
 </form>

</div>
{% endblock %}