{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-1">

            <form class="signup-form" method="POST" action="{% url 'post_servicio' %}">
                {% csrf_token %}
                <span class="help-block" style="color:red">{{ form.errors.password }}</span>
                <h2 class="text-center">Formulario Post Servicio</h2>

                <hr>

                {% for field in form.visible_fields %}
                <div class=" mb-3">
                    <label for={{ field.id_for_label }}>{{ field.label }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}

                </div>

                {% endfor %}
               <button type="submit" class="btn btn-dark">Submit</button>
                    <a href="{% url 'electricidad' %}" class="btn btn-info ">Cancel</a>
            </form>

        </div>
    </div>
</div>

{% endblock %}