{% extends 'base.html' %}
{% load static %}
{% block contenido %}

    <main class="site-content" role="main">

        <!--
        Home Slider
        ==================================== -->

        <section id="home-slider">
            <div id="slider" class="sl-slider-wrapper">

                <div class="sl-slider">

                    <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25"
                         data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">

                        <div class="bg-img bg-img-1"></div>

                        <div class="slide-caption">
                            <div class="caption-content">
                                <h2 class="animated fadeInDown">BIENVENIDOS A MR.SERVICE</h2>
                                <span class="animated fadeInDown">Estas en buenas manos</span>

                                {% if not user.is_authenticated %}
                                    <a href='{% url 'register_user' %}' class="btn btn-blue btn-effect">Registrar</a>
                                    <a href='{% url 'login_user' %}' class="btn btn-blue btn-effect">Ingresar</a>
                                {% endif %}

                            </div>
                        </div>
                    </div>

                    <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10"
                         data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">

                        <div class="bg-img bg-img-2"></div>
                        <div class="slide-caption">
                            <div class="caption-content">
                                <h2>BIENVENIDOS A MR.SERVICE</h2>
                                <span>Estas en buenas manos</span>
                                {% if not user.is_authenticated %}
                                    <a href='{% url 'register_user' %}' class="btn btn-blue btn-effect">Registrar</a>
                                    <a href='{% url 'login_user' %}' class="btn btn-blue btn-effect">Ingresar</a>
                                {% endif %}
                            </div>
                        </div>

                    </div>

                    <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3"
                         data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">

                        <div class="bg-img bg-img-3"></div>
                        <div class="slide-caption">
                            <div class="caption-content">
                                <h2>BIENVENIDOS A MR.SERVICE</h2>
                                <span>Estas en buenas manos</span>
                                {% if not user.is_authenticated %}
                                    <a href='{% url 'register_user' %}' class="btn btn-blue btn-effect">Registrar</a>
                                    <a href='{% url 'login_user' %}' class="btn btn-blue btn-effect">Ingresar</a>
                                {% endif %}
                            </div>
                        </div>

                    </div>

                </div><!-- /sl-slider -->

                <!--

                -->

                <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                    <a href="javascript:;" class="sl-prev">
                        <i class="fa fa-angle-left fa-3x"></i>
                    </a>
                    <a href="javascript:;" class="sl-next">
                        <i class="fa fa-angle-right fa-3x"></i>
                    </a>
                </nav>


                <nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
                    <span class="nav-dot-current"></span>
                    <span></span>
                    <span></span>
                </nav>

            </div><!-- /slider-wrapper -->
        </section>

        <!--
        End Home SliderEnd
        ==================================== -->

        <!-- about section -->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 wow animated fadeInLeft">
                        <div class="recent-works">
                            <h3>¿Necesitas ayuda?</h3>
                            <div id="works">
                                <div class="work-item">
                                    <p>Ante el desconocimiento de la experiencia y calidad de los servicios que se
                                        ofrecen en el sector de la construcción, nació Mr. Service. Esta app Web te
                                        ofrece información sobre:</p>
                                    <p>El prestador del servicio (datos personales y de contacto), su experiencia, los
                                        trabajos realizados, clientes satisfechos o insatisfechos y calificaciones.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-md-offset-1 wow animated fadeInRight">

                        <div class="message-body">
                            <img src="{% static 'img/logo-slogan.png' %}" class="pull-left" alt="member">

                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- end about section -->

        <!-- Service section -->
        <section id="service">
            <div class="container">
                <div class="row">

                    <div class="sec-title text-center">
                        <h2 class="wow animated bounceInLeft">CATEGORIAS</h2>

                        {% if user.is_authenticated %}
                            {% if user.groups.all.0|stringformat:'s' == 'prestador' %}
                                <a href='{% url 'post_servicio' %}' class="btn btn-blue btn-effect">Publicar</a>
                            {% endif %}
                        {% endif %}

                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
                        <div class="service-item">
                            <div class="service-icon">
                                <a href='{% url 'electricidad' %}'>
                                    <img src='{% static 'img/icons/bolt-lightning-solid.svg' %}'/>
                                </a>
                            </div>
                            <h3>SERVICIOS ELECTRICOS</h3>

                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                        <div class="service-item">
                            <div class="service-icon">
                                <a href='{% url 'ListPlomeria' %}'>
                                    <img src='{% static 'img/icons/faucet-drip-solid.svg' %}'/>
                                </a>
                            </div>
                            <h3>PLOMERIA</h3>

                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animatimg/icons/faucet-drip-solid.svged zoomIn"
                         data-wow-delay="0.6s">
                        <div class="service-item">
                            <div class="service-icon">
                                <a href='{% url 'Listcarpinteria' %}'>
                                    <img src='{% static 'img/icons/hammer-solid.svg' %}'/>
                                </a>
                            </div>
                            <h3>CARPINTERIA</h3>

                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
                        <div class="service-item">
                            <div class="service-icon">
                                <a href='{% url 'Listacabados' %}'>
                                    <img src='{% static 'img/icons/house-solid.svg' %}'/>
                                </a>

                            </div>

                            <h3>ACABADOS</h3>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- end Service section -->

        <!-- Testimonial section -->
        <section id="testimonials" class="parallax">
            <div class="overlay">
                <div class="container">
                    <div class="row">

                        <div class="sec-title text-center white wow animated fadeInDown">
                            <h2>Nuestro equipo de Desarrollo</h2>
                        </div>

                        <div id="testimonial" class=" wow animated fadeInUp">
                            <div class="testimonial-item text-center">
                                <img src="{% static 'img/member-3.jpg' %}" alt="Our Clients">
                                <img src="{% static 'img/member-1.jpg' %}" alt="Our Clients">
                                <img src="{% static 'img/member-2.jpg' %}" alt="Our Clients">
                                <div class="clearfix">
                                    <span>Amanda Quintana </span>
                                    <span>- Mauricio Arias -</span>
                                    <span> Maria Anaya</span>

                                    <p>Contamos con un talento comprometido y emprendedor. Promovemos un entorno de
                                        trabajo basado en la igualdad de oportunidades, la diversidad y la inclusión, e
                                        impulsamos formas de trabajo que faciliten el equilibrio entre la vida personal
                                        y la profesional.</p>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- end Testimonial section -->


    </main>

{% endblock %}