{% extends 'base.html' %}
{% load static %}
{% block header %}
        <div class="container">
    <header  class="navbar-inverse animated-header">

            <div class="navbar-header">
                <!-- logo -->
                <h1 class="navbar-brand">
                    <a href="/#body">MR.SERVICE</a>
                </h1>
                <!-- /logo -->
            </div>


    </header>
      </div>
{% endblock %}
{% block contenido %}

    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <form class="signup-form" method="POST" action="{% url 'login_user' %}">
                    {% csrf_token %}
                    <span class="help-block" style="color:red">{{ form.errors.password }}</span>
                    <h2 class="text-center">Login</h2>

                    <hr>
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Nickname" required="required"
                               id="id_user_name"
                               name="user_name">
                    </div>

                    <div class="form-group">

                        <input type="password" class="form-control" placeholder="Confirmacion de contraseña"
                               required="required"
                               id="id_password" name="password">

                    </div>

                    <div class="form-group text-center">

                        <button type="submit" class="btn btn-blue btn-block">Ingresar</button>

                    </div>

                </form>

            </div>
        </div>
    </div>

{% endblock %}