{% extends 'base.html' %}
{% load static %}



{% block contenido %}

 <div class="content-wrapper" style="margin-top:80px">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row mb-5">
                {% if data %}
                    {% for item in data %}
                        <div class="col-md-6 col-lg-4 mb-3">
                            <div class="card h-100">

                                <div class="card-body mt">
                                    <h5 class="card-title">Servicio: {{item.servicio }}</h5>
                                    <p class="card-text"> Descripcion:
                                        {{ item.descripcion }}
                                    </p>
                                    <p class="card-text"> Prestador:
                                        {{ item.id_usuario }}
                                    </p>

                                     <img class="card-img-top"
                                     src="https://api.lorem.space/image/movie?w=150&amp;amp;amp;amp;h=220"
                                     alt="Generic placeholder image" width="140" height="340" alt="Card image>
                                        cap"/>
                                    <hr/>

                                    <div class="mt-3">

                                        {% if perms.mrServiceApp.delete_postservicio %}
                                           <a class="btn btn-danger" href="{% url 'pre_eliminar' item.id%}"
                                               role="button"><i class="tf-icons bx bx-edit"></i>Eliminar</a>
                                        {% endif %}

                                             {% if perms.mrServiceApp.change_postservicio %}

                                           <a class="btn btn-primary" href="{% url 'edit_post' item.id%}"
                                               role="button"><i class="tf-icons bx bx-edit"></i>Editar</a>
                                                 {% endif %}

                                            <a class="btn btn-primary" href="{% url 'detail_view' item.id%}"
                                               role="button"><i class="tf-icons bx bx-edit"></i>Contactar</a>

                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                {% else %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        This is a warning dismissible alert — check it out!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="content-backdrop fade"></div>
    </div>

{% endblock %}