{% extends 'base.html' %}
{% load static %}
{% block header %}
    <header id="navigation" class="navbar-inverse animated-header">
        <div class="container">
            <div class="navbar-header">

                <!-- logo -->
                <h1 class="navbar-brand">
                    <a href="/">MR.SERVICE</a>
                </h1>
                <!-- /logo -->
            </div>

        </div>
    </header>
{% endblock %}
{% block contenido %}

    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">

                <form class="signup-form" method="POST" action="{% url 'register_user' %}">
                    {% csrf_token %}
                    <span class="help-block" style="color:red">{{ form.errors.password }}</span>
                    <h2 class="text-center">Formulario de registro</h2>

                    <hr>

                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Nickname" required="required"
                               id="id_user_name"
                               name="user_name">

                    </div>

                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Nombres" required="required"
                               id="id_first_name"
                               name="first_name">

                    </div>

                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Apellidos" required="required"
                               id="id_last_name" name="last_name">

                    </div>

                    <div class="form-group">

                        <input type="email" class="form-control" placeholder="Correo" required="required" id="id_email"
                               name="email">

                    </div>

                    <div class="form-group">

                        <input type="password" class="form-control" placeholder="Contraseña" required="required"
                               id="id_password1" name="password1">

                    </div>

                    <div class="form-group">

                        <input type="password" class="form-control" placeholder="Confirmacion de contraseña"
                               required="required"
                               id="id_password2" name="password2">

                    </div>

                    <select class="form-select form-select-lg mb-2 form-group form-control"
                            aria-label=".form-select-lg example" id="id_option" name="option">
                        <option selected>Seleccione rol</option>
                        <option value="1">Cliente</option>
                        <option value="2">Prestador de Servicios</option>
                    </select>

                    <div class="form-group text-center">

                        <button type="submit" class="btn btn-blue btn-block">Registrarse</button>

                    </div>

                </form>

            </div>
        </div>
    </div>

{% endblock %}